/**
 * styles.css
 *
 * App container styles
 */

@import url(https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css);

.container {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e5e5;
}

* {
  box-sizing: border-box;
}
